
/* WebChess 2.0 colors */
/* blue-white created by Benjam Welker (original colors in CVS) */

/*
	all the layout for the webpages are specified in the layout.css
	file.  the colors have been seperated out for ease of customization
*/



/* body background */
body {
	background: #FFF;
}


/* text color */
body , a , #menu a {
	color: #333;
}

a:hover {
	color: navy;
}

h1 {
	background-color: #666BAB;
	border-bottom: 2px solid #000;
}


/* main (basic) */
.warning {
	color: #D00;
}

h2 {
	border-bottom: 1px solid #777;
}

table , .notable {
	border: 1px solid #777;
}

th {
	border-bottom: 2px solid #777;
}

td {
	background-color: #FFF;
	color: #333;
}

.alt td {
	background-color: #F0F0F0;
}

tr[onclick]:hover td {
	background-color: #E0E0E0;
	color: #000;
}

.mine ,
.mine *,
.notice ,
.notice *,
.myturn td,
.myturn td * {
	color: #D00;
}

#menu li.active .notice {
	color: #D00;
}

.instruction {
	color: #555;
}

abbr,
acronym {
	border-color: #333;
}

a.help {
	border-color: #777;
	color: #C22;
}

a.help:hover {
	border-color: #C22;
}

hr.fancy {
	background-color: #F1F3F5;
	border: 1px solid #CCC;
}

fieldset {
	border: 1px solid #CCC;
}


/* footer */
#footer,
#FENblock {
	background: #666BAB;
	border-top: 1px solid #000;
	color: #FFF;
}


/* links */
#links a , #footer a {
	color: #DDD;
}

#links a:hover {
	background-color: #FFF;
	color: #666BAB;
	border: 1px solid #000;
}


/* menu */
#menu ,
#menuholder {
	border: 1px solid #CCC;
}

#menu a {
	color: #555;
	background-color: #F1F3F5;
	border-bottom: 1px solid #CCC;
}

#menu li a:hover {
	color: #FFF;
	background-color: #666BAB;
}

#menu li.active a {
	color: #30356F;
	background-color: #DDDFF3;
	border-color: #CCC;
}


/* notes */
#notes {
	background-color: #F1F3F5;
	border: 1px solid #CCC;
}

#sidebar #chatbox {
	background-color: #F1F3F5;
	border: 1px solid #CCC;
}

/* messages */
.messageheader {
	border-bottom: 1px solid #CCC;
}